{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      My django app
    {% endblock%}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="{% static 'shop_app/js/django_form.js' %}"></script>
</head>
<body>
  {% csrf_token %}
  <script>
    let CSRF = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    let URL_PREFIX = 'http' + '://' + '{{ request.META.HTTP_HOST }}' + '/';
    let axios_instance = axios.create(
        {
            baseURL: URL_PREFIX,
            headers:{'X-CSRFToken':CSRF},
        }
    );
  </script>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-3">
        <img src="{% static 'shop_app/image/download.jpeg' %}"
             style="max-width: 300px">
      </div>
    </div>
    <div class="row">
    {% block body %}
      <!-- some context-->
      <div class="col-lg-12">
        <a href="{% url 'shop_app:item_list' %}">Товары</a>
      </div>
    {% endblock %}
    </div>
  </div>
</body>
</html>
