{% extends 'shop_app/base.html' %}
{% load static %}
{% block title %}
  Список товаров
{% endblock %}

{% block body %}
  <div class="col-lg-12 text-center">
    <a href="{% url 'shop_app:index' %}">На главную</a>
  </div>

  {% include 'shop_app/pagination.html' with request=request page_obj=page_obj paginator=paginator %}

  {% for item in item_list %}
    <div class="card col-lg-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'shop_app:item_detail' item.id %}">
            {{ item.name }}
          </a>
        </h5>
        <p class="card-text">
          <p>
            Магазин {{ item.department.shop.name }}
          </p>
          {% if item.image %}
            <p>
              <img src="{{ item.image.url }}" style="max-width: 10rem">
            </p>
          {% else %}
            <p >
              Изображение отсутствует
            </p>
          {% endif %}

          <p>
            Цена: {{ item.price }}
          </p>
        </p>
      </div>
    </div>
  {% endfor %}

{% include 'shop_app/pagination.html' with request=request page_obj=page_obj paginator=paginator %}

  <div class="col-lg-12 mt-2 text-center ">
    <a class="btn btn-info form-control" href="{% url 'shop_app:item_create' %}">
      Создать продукт
    </a>
  </div>

  <div class="col-lg-12 mt-2 text-center ">
    <a class="btn btn-info form-control" href="{% url 'shop_app:item_and_department_create' %}">
      Создать продукт и департамент
    </a>
  </div>
{% endblock %}

