{% extends 'shop_app/base.html' %}
{% block title %}
  Список товаров
{% endblock %}

{% block body %}
  <a href="{% url 'shop_app:index' %}">На главную</a>
  <ul>
    {% for item in item_list %}
      <li>
        <a href="{% url 'shop_app:item_update' item.id %}">
          {{ forloop.counter }} {{ item }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'shop_app:item_create' %}">
    Создать продукт
  </a>

  <script>
    axios_instance.get('{% url "shop_app:department-list" %}').then(response=>{
      console.log(response.data)
    })
  </script>

  <script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    components: {

    },
    data: function () {
      return {

      }
    },
    methods: {

    }
  })
</script>
{% endblock %}